//
// Arranged & Compiled by: Mark Rivera, imarkdesigns@gmail.com
// Github: https://github.com/imarkdesigns
//

// Internal Libraries
$system: -apple-system, Roboto, Ubuntu, sans-serif;

.acf-field {

  // Font style for label
  .acf-label label {
    font: 400 14px $system;

    &:empty { margin: 0; }
    &:empty p.description { display: none; }
  }

  p.description {
    font: 300 12px $system;

    b { font-weight: 300; color: #0073AA; }
    a { color: #0073AA; text-decoration: none; border-bottom: 1px dotted #CCC; }

    code { font-weight: 400; font-size: 10px; color: #F00; border-radius: 3px; }
    kbd { background: transparent; font-weight: 400; font-size: 11px; margin: -1px 2px 0; padding: 0 0 2px; border-radius: 3px; }
    kbd > kbd { color: #F00; margin: 0; padding: 0 4px 1px; border: 1px solid #CCC; }
  }

  // Fields
  input[type="text"],
  input[type="number"],
  input[type="url"],
  textarea {
    font: 300 14px $system;
    height: 35px;
    padding: 6px 12px;
    box-shadow: none;
    border-radius: 0;
    border-color: #ccd0d4;
  }

  textarea { height: auto; padding: 12px; }

  // Inputs
  .acf-input {

    // Font style for message components
    p { font: 300 13px $system; }
    p b { font-weight: 300; color: #0073AA; }
    p a { color: #0073AA; text-decoration: none; border-bottom: 1px dotted #CCC; }
    
    code { font-weight: 400; font-size: 10px; color: #F00; border-radius: 3px; }
    kbd { background: transparent; font-weight: 400; font-size: 11px; margin: -1px 2px 0; padding: 0 0 2px; border-radius: 3px; }
    kbd > kbd { color: #F00; margin: 0; padding: 0 4px 1px; border: 1px solid #CCC; }

  }
  
}

// Custom Textarea + File Download
.acf-field.textarea-file-download textarea {
  height: 82px !important;
}

// ACF Icon - ACF URL
.acf-url {
  i {
    top: 8px;
  }
  input[type="url"] {
    padding-left: 25px;
  }
}

// ACF Group Input
.acf-input-prepend,
.acf-input-append {
  display: flex;
  align-items: center;
  height: 35px;
  box-sizing: border-box;
}

// Basic Editor Modifier
.full-basic-editor {
  .acf-input { margin-top: -34px; }
}

// Button Group
.counter {
  &.btnGroup {
    .acf-button-group label {
      display: flex;
      align-items: center;
      height: 35px;
      padding-top: 0;
      padding-bottom: 0;
      box-sizing: border-box;
    }
  }
}

// Select2 - Dropdown
.select2-container {
  .select2-selection--single {
    height: 35px;
  }
}
.select2-container--default {
  .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
  }
  .select2-selection--single .select2-selection__arrow {
    height: 35px;
  }
}

// Column - Image + Image Gallery
.figure {
  .image-wrap img {
    height: 387px;
    object-fit: cover;
  }  
}

.figure-gallery {
  min-height: 387px;

  .acf-gallery {
    height: 387px !important;
  }
}

// Full Width - Image
.full-width-image {
  .image-wrap img {
    width: 100%;
    height: 380px;
    object-fit: cover;
  }
}

